/* Reset básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Container principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #2d6a4f;
}

/* Estilo do conteúdo */
.content h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.content ul {
    margin-left: 20px;
    list-style-type: square;
}

.content li {
    font-size: 1.1em;
    margin-bottom: 8px;
}

/* Botão */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    background-color: #28a745; /* Cor verde */
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .content h2 {
        font-size: 1.6em;
    }

    .btn {
        font-size: 1em;
    }
}
